@media screen and (min-width: 300px) {
	.dark_blue {
		width: 50%;
		min-height: 75px;
		/* order: 1; */
		border: 2px;
	}
	div.dark_blue {
		/* This is the image of the HTML */
		content: url("https://drive.google.com/uc?id=1PL-M6NCyuXaJVFn649OrwMvFLm_HYqkM");
		width: 100%;
		/* height: 5px; */
		order: 0;
		padding-bottom: 20px;
	}
	/* div.dark_blue.content {
		content:'some text here';
	} */


	#container2 {
		width: 49%;
		order: 0;
	}
	div.light_blue {
		width: 100%;
	}
	div.green {
		/* This is the Congratulations image */
		content:url("https://drive.google.com/uc?id=1sZtBsK_El07-Uk5hZRa3VMrsrln76iyb");
		width: 100%;
	}
	.red {
		width: 50%;
		order: 1;
		min-height: 300px;
	}
	div.red {
		/* This is the mountain lake image */
		content:url("https://drive.google.com/uc?id=1TbwhMkxe-ycz0i88Y_NsLuk5MIQho4mw");
		width: 100%;
	}
	div {
    text-align: justify;
	}
	div img {
    display: inline-block;
    width: 100px;
    height: 100px;
	}
	div:after {
    content: '';
    display: inline-block;
    width: 100%;
	}
}



@media screen and (min-width: 1030px) {
	.dark_blue {
		width: 50%;
		min-height: 600px;
		/* order: 1; */
		border: 2px;
	}
	div.dark_blue {
		/* This is the image of the HTML */
		/* content: url("https://drive.google.com/uc?id=1PL-M6NCyuXaJVFn649OrwMvFLm_HYqkM"); */
		width: 50%;
	}
	#container2 {
		width: 49%;
		order: 0;
	}
	div.light_blue {
		width: 100%;
	}
	div.green {
		/* This is the Congratulations image */
		/* content:url("https://drive.google.com/uc?id=1sZtBsK_El07-Uk5hZRa3VMrsrln76iyb"); */
		width: 100%;
	}
	.red {
		width: 50%;
		order: 1;
		/* min-height: 300px; */
	}
	div.red {
		/* This is the mountain lake image */
		/* content:url("https://drive.google.com/uc?id=1TbwhMkxe-ycz0i88Y_NsLuk5MIQho4mw"); */
		width: 100%;
	}
	div {
    text-align: justify;
	}
	div img {
    display: inline-block;
    width: 100px;
    height: 100px;
	}
	div:after {
    content: '';
    display: inline-block;
    width: 100%;
	}
}
