.header__inner{
    position:relative;
 }

h1{
    position:absolute;
    margin:0;
    right:0;
    top:40%;
    transform:translate(0,-50%)
}
h3 {
	position:absolute;
    margin:0;
    right:0;
    top:85%;
    transform:translate(0,-50%)
}
.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border: 20px;

}
.box {
	width: 100%;
	min-height: 150px;
}
.dark_blue {
	/* background-color: darkblue; */
	margin: 1px;
}
.light_blue {
	/* background-color: lightblue; */
	margin: 10px;
}
.green {
	/* background-color: green; */
	margin: 1px;
}
.red {
	/* background-color: red; */
	margin: 1px;
}
